{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container h-100">

    <div class="row">
        <div class="col-3">
            <div class="available-status">
                <h4>Status</h4>
                {% for s in status %}
                <p>{{s.name}}</p>
                {% endfor %}
            </div>

        </div>
        <div class="col-9">
            <div class="product-list">
                <h4>Products</h4>
                {% if products.length > 0 %}
                    <div class="section-message">View, edit or delete products below:</div>
                    {% for product in products %}
                    {% endfor %}
                {% else %}
                    <div class="section-message">There are no products here yet. Click <a href="{% url 'create_product' %}">here</a> to create one.</div>
                {% endif %}
            </div>
            
        </div>
    </div>


</div>


{% endblock %}